# This configures the format of the editprofile page. See help.html for formatting options.
# First set tabs and labels. (tab0 must always be for NP_Profile) only tabs 0-9 allowed
[t]
[t0]Profile
#[t1]Extensions
# Now give format of tab 0 (NP_Profile settings)
[/t]
[0]
[h3]Personal
nick
realname
sex
birthdate
location
avatar
bio
[h3]Privacy
privacylevel
[h3]Contact
mail
icq
msn
url
[h3]Interests
favoritesite
hobbies
resume
secret
notes
[/0]
# Now give format of tab2 (use for adding forms for NP_Profile extension plugins.
# The extension plugin must have a method called editProfileForm() which outputs a complete form for modifying its settings.
#[1]
# Here we would put extensions plugin forms
#NP_PluginA
#NP_PluginB
#[/1]