<h3>Personal</h3>
nick
realname
sex
birthdate
location
avatar
bio
<h3>Security</h3>
privacylevel
<h3>Contact</h3>
mail
icq
msn
url
<h3>Interests</h3>
favoritesite
hobbies
resume
secret
notes