body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 12px;
    background-color: #fff;
    margin: 35px;
}

#top {
    padding-bottom: 15px;
}

h2 {
    font-size: 22px;
    color: #333;
    margin: 35px 0 5px 0;
}

h3 {
    color: #333;
    font-size: 15px;
    margin: 15px 0 3px 0;
}

h4 {
    color: black;
    font-size: 13px;
    margin: 18px 0 5px 0;
}

.code {
    font-size: 11px;
    margin-top: 5px;
    padding: 4px;
    background-color: #e3e2c6;
    border: 1px solid #999;
}

pre {
    padding: 0;
    margin: 5px 0 18px 0;
}

.hl {
    background-color: #ffffcc;
}

li {
    padding: 5px 0 5px 0;
}

img {
    border: 0;
}
