
<h2>Trackback</h2>

<ul>
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=index'>Overview of all items</a></li>
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=all'>All trackbacks</a></li>
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=blocked'>Blocked trackbacks</a></li> 
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=delblocked'>Delete all blocked trackbacks</a></li>
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=ping'>Manually ping another weblog</a></li>
	<li><a href='<?php echo $CONF['PluginURL'];?>trackback/index.php?action=help'>Help</a></li>
</ul>

<p>&nbsp;</p>
	
